iweb-war/web/WEB-INF/wsdl/localhost_8080/ServiciosIweb/ServiciosIweb.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="ServiciosIweb">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8080/ServiciosIweb/ServiciosIweb?xsd=1"/>
</xsd:schema>
</types>
<message name="editarCampaña">
<part name="parameters" element="tns:editarCampaña"/>
</message>
<message name="countCampaña">
<part name="parameters" element="tns:countCampaña"/>
</message>
<message name="countCampañaResponse">
<part name="parameters" element="tns:countCampañaResponse"/>
</message>
<message name="editarModulo">
<part name="parameters" element="tns:editarModulo"/>
</message>
<message name="borrarCampaña">
<part name="parameters" element="tns:borrarCampaña"/>
</message>
<message name="crearCampaña">
<part name="parameters" element="tns:crearCampaña"/>
</message>
<message name="borrarModulo">
<part name="parameters" element="tns:borrarModulo"/>
</message>
<message name="countModulo">
<part name="parameters" element="tns:countModulo"/>
</message>
<message name="countModuloResponse">
<part name="parameters" element="tns:countModuloResponse"/>
</message>
<message name="crearModulo">
<part name="parameters" element="tns:crearModulo"/>
</message>
<portType name="ServiciosIweb">
<operation name="editarCampaña">
<input wsam:Action="http://services/ServiciosIweb/editarCampaña" message="tns:editarCampaña"/>
</operation>
<operation name="countCampaña">
<input wsam:Action="http://services/ServiciosIweb/countCampañaRequest" message="tns:countCampaña"/>
<output wsam:Action="http://services/ServiciosIweb/countCampañaResponse" message="tns:countCampañaResponse"/>
</operation>
<operation name="editarModulo">
<input wsam:Action="http://services/ServiciosIweb/editarModulo" message="tns:editarModulo"/>
</operation>
<operation name="borrarCampaña">
<input wsam:Action="http://services/ServiciosIweb/borrarCampaña" message="tns:borrarCampaña"/>
</operation>
<operation name="crearCampaña">
<input wsam:Action="http://services/ServiciosIweb/crearCampaña" message="tns:crearCampaña"/>
</operation>
<operation name="borrarModulo">
<input wsam:Action="http://services/ServiciosIweb/borrarModulo" message="tns:borrarModulo"/>
</operation>
<operation name="countModulo">
<input wsam:Action="http://services/ServiciosIweb/countModuloRequest" message="tns:countModulo"/>
<output wsam:Action="http://services/ServiciosIweb/countModuloResponse" message="tns:countModuloResponse"/>
</operation>
<operation name="crearModulo">
<input wsam:Action="http://services/ServiciosIweb/crearModulo" message="tns:crearModulo"/>
</operation>
</portType>
<binding name="ServiciosIwebPortBinding" type="tns:ServiciosIweb">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="editarCampaña">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="countCampaña">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editarModulo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="borrarCampaña">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="crearCampaña">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="borrarModulo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="countModulo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearModulo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="ServiciosIweb">
<port name="ServiciosIwebPort" binding="tns:ServiciosIwebPortBinding">
<soap:address location="http://localhost:8080/ServiciosIweb/ServiciosIweb"/>
</port>
</service>
</definitions>